@charset "UTF-8";
/*------------------------------------------------------------------

 *
 * Author      : Md Sazzad Hossain
 * Project     : Gleek Admin Template
 * Version     : 1.0.0
 * Last update : June 26 2018
 *

 * -----------------------------------------------------------------*
 *                         TABLE OF CONTENTS                        *
 * -----------------------------------------------------------------*
 *
 * 01. Base Styles
 * 02. Sidebar Css
 * 03. Topbar
 * 04. Main body area
 * 04. Footer area
 * 05. Responsive Styles
 *

/*
	===================
	Google Fonts
	===================
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i");
/*
	===================
	Base Styles.
	===================
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #F3F6F9;
  color:#6a707e;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
  color: #abafb3;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 0.9rem;
}


a {
  transition: 0.5s;
  color: #6a707e;
}
a:hover {
  text-decoration: none;
}
p {
    font-weight: 400;
}
/*
	==============================
	Padding Class for desktop only 
	==============================
*/
@media (min-width: 1350px) {
	.p0 {
	  padding: 0;
	}

	.pr-0 {
	  padding-right: 0;
	}

	.pl-0 {
	  padding-left: 0;
	}

	.pt-0 {
	  padding-top: 0;
	}
}
/*
	================================
	Margin Class for desktop only 
	================================
*/

@media (min-width: 1350px) {
	.m0 {
	  margin: 0;
	}

	.mr-0 {
	  margin-right: 0;
	}

	.ml-0 {
	  margin-left: 0;
	}

	.mt-0 {
	  margin-top: 0;
	}
}

/*
===================
	Sidebar css
===================
*/
.right_body{
	height: 100%;
}
.left_sidebar {
    background-color: #fff;
    width: 100%;
    height: 100%;
    box-shadow: 4px -1px 20px 0px #b1b1b126;
}

.logo_area {
	background-color: #7F63F4;
	display: block;
}

.setting-icon {
    float: right;
    transform: translateY(-63px);
    margin-right: 17px;
}

.nav_child_one{
	padding:25px 0 25px 0px;
}
.navigation_title{
	padding:0 0 0 25px;
}
.navigation_title h3 {
	text-transform: uppercase;
}

.navigation_items{
	margin-top: 15px;
}
.navigation_items ul{
	margin: 0;
	padding: 0;
}
.navigation_items ul li{
	list-style: none;
}
.navigation_items ul li:hover{
	background-color: #F2EFFE;
	border-left: 3px solid #7f63f4;
}
.navigation_items ul li:hover a{
	color:#7f63f4 !important;
}

.navigation_items ul li a {
    padding: 10px 0px;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    transform:translateX(25px);
}
.navigation_items ul li a i {
	margin-right: 5px;
}
.navigation_items ul li a:hover{
	color:#000;
}
li.active{
	background-color: #F2EFFE;
	border-left: 3px solid #7f63f4;
}
li.active a{
	color:#7f63f4 !important;
}

.menu_line {
	background-color: #abafb361;
	height: 1px;
	width: 100%;
}

.logoutarea{
	padding:25px 0 25px 25px;
}
.logout a {
	color:#6a707e;
}

/*
========================
	Top bar Section
=========================
*/
.topbar{
	background-color: #fff;
	padding: 15px 0px 15px 0px;
}
.search {
    position: relative;
    padding: 5px 10px 10px 35px;
    background-color: #F3F3F3;
    border: 0;
}
.searchicon {
    position: absolute;
    left: 30px;
    top: 12px;
}
.right_top{
	float: right;
}
.notification {
    float:  left;
    margin: 9px 2px 5px 0px;
    display:  inline-block;
}
.notification i {
    margin: 0px 11px 0 0px;
}
.profile {
    display:  inline-block;
}

.avatar {
    float:  left;
    display:  inline-block;
}
.avatar img {
    width: 72%;
}
.username {
    float: left;
    margin: 7px 10px 0px 0px;
}
.bars {
    float:  right;
    margin: 7px 15px 0px 5px;
}
.saz_dropdown ul{
	margin: 0;
	padding: 0;
}
.saz_dropdown ul li {
	list-style: none;
	margin-right: 10px;
}
.saz_dropdown ul li a{
	margin-left: 10px;
	font-size: 12px;
}
.uname{
	cursor: pointer;
}
.breadcum {
    background-color: #F2EFFE;
    padding: 15px 15px 0px 15px;
    display: block;
    overflow: hidden;
}
.pagetitle{
	display: inline-block;
	float: left;
}
.pagetitle h2 {
	color:#7f63f4;
}
.pages_right{
	display: inline-block;
	float: right;
}
.breadcum_active{
	color:#7f63f4;
}

/*
===================
	Main Body 
===================
*/

.boxarea{
	background-color: #fff;
	margin-top: 25px;
	padding:25px 0px 25px 0px;
	box-shadow: 4px 0px 20px 0px #b1b1b126;
}
.boxarea ul{
	margin: 0;
	padding: 0;
}
.boxarea ul li{
	list-style: none;
}
.boxarea ul li:hover{
	border-left: 3px solid #7f63f4;
}
.boxarea ul li:hover a{
	color:#7f63f4 !important;
}
.boxarea ul li a{
	padding: 10px 0px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    transform:translateX(25px);
}
.boxarea ul li.active{
	background-color: transparent;
}
.boxarea ul li a i {
	margin-right: 10px;
}
span.count {
    float: right;
    padding: 2px 5px;
    background-color: #218DFA;
    color: #fff;
    border-radius: 4px;
    transform: translateY(9px);
    margin-right: 10px;
}
.category {
    background-color: #F2EFFE;
    padding: 10px;
}
#cat_acro{
	cursor: pointer;
}
.cat_left{
	display: inline-block;
}
.cat_left h3 {
	color: #6a707e;
}
.icon {
    float:  right;
}
.orange{
	color:#FF9800;
}
.purple{
	color:#673AB7;
}
.green{
	color:#13B18B;
}
.sky{
	color:#03A6EF;
}
img.onlineuserimage {
    display:  inline-block;
    float:  left;
}

span.info {
    float:  right;
    margin-left: 15px;
}

span.info p {
    font-weight: 600;
    margin:  0;
}

span.info span {
    font-size:  12px;
}
.compose {
    background-color: #7F63F4;
    padding: 15px;
    max-width: 200px;
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 25px;
    border-radius: 3px;
}
.compose h3 {
	margin:0;
	text-align: center;
	color:#fff;
}

.inboxmsg{
	border: 1px solid #E7E7F8;
	margin-top: 25px;
}

/*
=======================
	Mail Inbox
=======================
*/
.search_mail {
    position: relative;
    padding: 5px 10px 10px 35px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    max-width: 200px;
    width: 100%;
    font-size: 12px;
    transform: translateY(4px);
    display: inline-block;
}
.mailsearch {
    display:  inline-block;
}
.mailsearchicon {
    position: absolute;
    top: 37px;
    left: 24px;
}
.mail_account {
    max-width: 150px;
    width: 100%;
    float: right;
    margin-top: 8px;
}
.mail_control {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 11px;
    color: #6a707e;
    font-weight: bold;
}
.new_control {
    background-color: transparent;
    border:0;
    border-radius: 0;
    font-size: 11px;
    color: #6a707e;
    font-weight: bold;
}
.inboxmsg{
	padding:0 15px 0 15px;
}
.filter_bottom {
    position: relative;
}
.mail_filter_area ul{
	margin: 0;
	padding: 0;
}

.mail_filter_area ul li{
	list-style: none;
	float: left;
}
.mail_filter_area ul li a {
    display: block;
    padding: 20px 7px;
    font-size: 12px;
    color:#dddddd;
}
.mailactive a{
	font-weight: bold;
	color: #6a707e !important;
}
.mail_filter_area{
	margin-top: 6px;
	display: inline-block;
}
.sortdate {
    max-width: 87px;
    width: 100%;
    display: inline-block;
    margin-left: 12px;
}
.Newest {
    max-width: 97px;
    width: 100%;
    display: inline-block;
}
select.form-control:not([size]):not([multiple]){
    height: auto !important;
}
.mail_line{
	height: 1px;
	background-color: #e7e7f8;
	width: 100%;
}


.mail_area{
	border-bottom: 1px solid #E7E7F8;
	border-right: 1px solid #E7E7F8;
}
.mail_waper{
	padding:15px 15px 0px 15px;
}
.mail_av {
    display:  inline-block;
    float:  left;
    margin-right: 15px;
}

.inbox_pre_data p {
    margin-right:  15px;
    margin:  0;
}

.inbox_pre_data span {
    float: right;
    margin-top: -20px;
}

.inbox_pre_title {
    display:  inline-block;
    clear:  both;
}

.inbox_pre_title h3 {
    font-weight: 600;
    letter-spacing: 1px;
    color: #6a707e;
    margin-top: 13px;
    display: inline-block;
}
.relative_class {
    position: relative;
}
.inbox_pre_title i {
    position: absolute;
    right: 0;
    top: 13px;
}
.inbox_details {
    margin-left: 72px;
    line-height: 28px;
    padding-bottom: 1px;
}

.inbox_details p {
    color: #abafb3;
}
.inbox_active {
    background-color: #7F63F4;
    color: #fff;
}
.inbox_active > .inbox_details p {
    color:#fff;
}
.inbox_active > .relative_class > .inbox_pre_title h3{
	color:#fff;
}
.user_head{
	padding:26px 0 30px 0;
}
.mail_user_avatar {
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.mail_user_info p {
    margin: 0 0 5px 0;
    color:  #7f63f4;
    font-weight: 700;
}

.mail_user_info span {
    font-size:  12px;
    font-weight: bold;
}
.icon_menu_mail ul{
	margin: 0;
	padding: 0;
}
.icon_menu_mail ul li{
	list-style: none;
	float: left;
}
.icon_menu_mail ul li a{
	display: block;
	padding:0 10px;
}
.icon_menu_mail {
    right: 14px;
    position:  absolute;
    top: 70px;
}

.mail_user_left {
    position:  relative;
}
.mail_body{
	padding:0 15px;
	margin-top: 25px;
}
.attachment_title p {
	margin: 0;
}
.attachment{
	padding:25px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 25px;
	color: #abafb3;
}
.mail_details_text p {
    color: #abafb3;
    line-height: 31px;
}
.mail_body_title h3 {
    display:  inline-block;
    color: #7f63f4;
}

.mail_body_title span {
    float: right;
}

.mail_to p {}

.mail_to p {
    color: #abafb3;
}

.mail_to p {
    color: #abafb3;
}

.mail_details_text {
    margin: 25px 0px;
}
.mail_details_text span{
	font-weight: 600;
	color:#6a707e;
}
.attachment_title{
	position: relative;
}
.attachment_title h3 {
    color: #727885;
}
.download {
    position: absolute;
    right: 27px;
    top: 40%;
}
.message_area textarea {
    width:  100%;
    margin-top: 25px;
    border: 1px solid #ddd;
    background:  transparent;
    padding: 15px;
}
.send_msg{
	background-color: #7F63F4;
    padding: 15px;
    max-width: 150px;
    width: 100%;
    margin-top: 25px;
    border-radius: 3px;
    float: right;
    text-align: center;
    clear:both;
}

.send_msg a {
	color:#fff;
	text-align: center;
}
/*
===================
	Copy
===================
*/
.copy {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}
.copy a {
	color: #7F63F4;
}	

/*
===============================
 Some Responsive fix
===============================
*/

@media (min-width: 981px) {
	.filter_right {
    position: absolute;
    right: 0;
    top: 21px;
    width: 59%;
	}
}
@media (min-width: 1400px) {
	.filter_right {
    position: absolute;
    right: 0;
    top: 21px;
    width: 55%;
	}
}
@media (min-width: 1800px) {
	.filter_right {
    position: absolute;
    right: 0;
    top: 22px;
    width: 30%;
}
}